@font-face {
    font-family: 'Roboto-bold';
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('fonts/Roboto-Regular.ttf');
}
.full_label{
    font-family: 'Roboto-Regular';
    display: flex;
    flex-direction: column;
    width:1206px;
    height:591px;
    background:#fff;
}   
    .second_row__item{
        display: flex;
        justify-content: space-between;
    }
    .char_name{
        font-family: Roboto-bold;
        white-space:nowrap;
        font-size: 50;
    }
    .left_side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .right_side{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        margin-left: 60px;
    } 
        .label_text{
            display: flex;
            width: 100%;
            flex-direction: column;
            font-size: 50px;
            white-space: nowrap;
        }
        .edge{
            font-size: 30px;
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            height: 200px;
            width: 60%;
            margin-right: 100px;
            margin-top: 60px;
        }
        .edge-top__text{
            position: absolute;
            white-space: nowrap;
            width: 100%;
            text-align: center;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(-100%);
            font-size:35px;
        }
        .edge-right__text{
            position: absolute;
            height: 100%;
            writing-mode: vertical-lr;
            text-align: center;
            right: 0;
            top: 50%;
            transform: translateY(-50%) translateX(100%);
            font-size:35px;
        }
        .edge-bottom__text{
            position: absolute;
            white-space: nowrap;
            bottom: 0;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translateX(-50%) translateY(100%);
            font-size:35px;
        }
        .edge-left__text{
            position: absolute;
            height: 100%;
            text-align: center;
            left: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-100%) rotateZ(180deg);
            writing-mode: vertical-lr;
            font-size:35px;
        }

.size{
    display: flex;
    width: 45%;
    flex-direction: column;
    font-size:50px;
}
.size__characteristic{
    display: flex;
    justify-content: space-between;
}

.qrcode_fullfillment{
    font-size:50px;
    font-family: 'Roboto-bold';
}
.material{
    white-space: nowrap;
    font-size:50px;
    margin: 0 auto;
}


.detail_row{
    display: flex;
    white-space: nowrap;
}

.detail_row:nth-child(1){
    justify-content: space-between;
    margin: 0 50px;
}
.detail_row:nth-child(2){
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    font-size: 50px;
}
.detail_row:nth-child(3){
    position: relative;
    justify-content: space-between;
}

.d-none{
    display: none;
}
#notification{
    position: sticky;
    bottom: 20px;
    right: 20px;
    width: 200px;
    border-radius: 5px;

}